article:nth-child(even) {
    background-color: lightgreen;
}

article:nth-child(odd) {
    background-color: green;
}

h1 {
    color: red;
    font-family: 'Kenia', sans-serif;
    font-size: 28pt;
    font-style: italic;
    font-weight: 500;
    text-align: center;
    text-decoration: underline;
    text-transform: uppercase;
}

h2 {
    color: orange;
    font-family: 'Kenia', sans-serif;
    font-size: 22pt;
    font-weight: 400;
    text-decoration: underline;
    text-shadow: 2px 2px 4px gray;
}

p {
    color: gray;
    font-family: 'Times New Roman', serif;
    font-size: 12pt;
    line-height: 1.5;
    text-align: justify;
}

p strong {
    color: red;
    font-weight: 900;
}

section p {
    color: black;
}

#historia {
    border: 2px solid red;
}

#freestylers {
    border: 2px dashed blue;
}

#competencias {
    border: 2px dotted orange;
}





